.header-dragon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-dragon a {
    background: #f8dcd8;
    padding: 5px 10px;
    color: #222;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.dragon-data .dragon-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dragon-info .dragon-label {
    margin-right: 20px;
}

.dragon-info h5 {
    margin: 10px 0 0 0;
}

.dragon-info-data {
    font-weight: 400;
}