.navbar {
  background: #af292a;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  float: left;
  color: #fff;
  font-size: 25px;
}

.navbar-nav {
  float: left;
  margin: 0;
  padding: 0px;
}

.navbar-nav .nav-item {
  float: left;
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0px;
}

.navbar-nav .nav-item a {
  color: #fff;
}

.logout {
  float: right;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.pointer {
  cursor: pointer;
}

